@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'poppins';
}
nav,ul{
    list-style: none;    
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    transition: all 0.3s ease;
    z-index: 4;
    /* background: #1e1e31; */
}
.navbar.sticky{
    padding: 30px 0;
    background-color: rgb(30, 30, 49, 0.5);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    cursor: pointer; /* 마우스커서 모양*/
    padding: 10px;
}
.navbar .menu li{
    list-style: none;    
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3 ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
header img{
    margin-bottom: 15px;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media(max-width:1000px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
       display: block;
       z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }   
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 70px;
        transition: all 0.3s ease;
    } 
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    }
}
/* banner area */

section{
    /* display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:110px 50px;
}
.banner-area{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    /* background-color: rgb(86, 88, 105); */
    background-image: url(../img/asd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width:1000px){
    section{
        padding: 100px 50px;
    }
}
@media (max-width:600px){
    section{
        padding: 125px 30px;
    }
}

img[usemap]{
    border: none;
    width: auto;
    height: auto;
    max-width: 100%;
}
@media (max-width:800px){
    .banner-area{
        min-height: 600px;
    }
    .banner-area h1{
        font-size: 32px;
    }
    .banner-area h3{
        font-size: 20px;
    }
}

/* about area*/

section.mainphoto{
    position: relative;
    justify-content: center;
    /* min-height: 110vh; */
    color: #fff;
    text-align: center;
    width: 100%;
    height: 600px;
    padding: 0;
}
.mainphoto-img{
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size:cover;
    background-size: cover;
    z-index: -1;
}
.mainphoto h2{
    /* margin-bottom: 15px; */
    font-size: 30px;
    position: absolute;
    left: 10px;
    bottom: 60px;
    font-family:'poppins';
}
.mainphoto h3{
    position: absolute;
    left: 10px;
    bottom: 0;
    font-size: 20px;
    background-color: rgba(0,0,0,.6);
    width: 98%;
    padding: 10px;
    text-align:left;
}

.board {
  width: 80%;
  margin: 50px auto;
}
/* .heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
} */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.photoborad {
  width: 25%;
  padding: 8px;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.photo-header {
  /* text-align: center; */
  padding: 10px 10px;
  /* background: linear-gradient(to right, #ff416c, #ff4b2b); */
  /* color: #fff; */
}
.photo-header img{
    width: 100%;
    height: 25vh;
}
.photo-body {
  padding: 10px 10px;
  text-align: center;
  font-size: 17px;
}
.photo-body p{
  font-size: 14px;
}
.photo-body .Rating{
    position: relative;
    left: 0;
    bottom: 0;
}
.photo-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #5e41ff, #7c2bff);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 10px;
}
.photo-body .btn i{
    color: red;
}
.photoborad:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .photoborad {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .board {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .photoborad {
    width: 80%;
  }
}
.tag-element {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 40px 0px 0px 0px;
  text-align: center;
}
.tag-element a {
    display: inline-block;
    font-size: 16px;
    color: #959595;
    font-weight: 400;
    margin: 0px 10px;
    padding: 5px 0px;
}
.paging-lst {
    clear: both;
    text-align: center;
    color: #999;
    margin: 50px 0px 0px 0px;
}
a.iconprev a.iconnext{
    padding: 0px;
}
@media (max-width: 768px){
.paging-lst a.prev {
    margin-right: 10px;
    }
}
.paging-lst a.prev {
    margin-right: 18px;
}
.paging-lst a.icon {
    background: #fff;
    border: 1px solid #dedede;
}
.paging-lst a {
    display: inline-block;
    vertical-align: top;
    height: 36px;
    width: 36px;
    line-height: 35px;
    color: #555;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 36px;
    font-size: 18px;
    margin: 10px;
}
@media (max-width: 768px) {
    .paging-lst a {
        height: 26px;
        width: 26px;
        line-height: 25px;
        border-radius: 13px;
        font-size: 12px;
        margin: 0;
        }
    }
/* service area */



/* footer */

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 60px 0;
}
a#topBtn { position: fixed;
    color: #1e1e31; 
    right: 5%; 
    bottom: 30px; 
    display: none;  
    z-index: 9999;
    font-size: 30px; 
}