@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'poppins';
}
ul,nav{
    list-style: none;    
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    transition: all 0.3s ease;
    z-index: 2;
}
.navbar.sticky{
    padding: 30px 0;
    background: #1e1e31;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    cursor: pointer; /* 마우스커서 모양*/
    padding: 10px;
}
.navbar .menu li{
    list-style: none;    
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3 ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
header img{
    margin-bottom: 15px;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media(max-width:1000px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
       display: block;
       z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }   
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 70px;
        transition: all 0.3s ease;
    } 
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    }
}

/* banner area */

section{
    /* display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:110px 100px;
}
@media (max-width:1000px){
    section{
        padding: 100px 50px;
    }
}
@media (max-width:600px){
    section{
        padding: 125px 30px;
    }
}
section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}
.banner-area{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}
.banner-img{
    background-image:url(../img/Main1.jpg),
    url(../img/Main2.jpg),
    url(../img/Main3.jpg),
    url(../img/Main4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    /* overflow: hidden; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size:cover;
    background-size: cover;
    animation: slide 16s infinite;
    z-index: -1;
}
/* .banner-area .banner-img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#535353;
    opacity: .4;
} */

.banner-area h1{
    margin-bottom: 15px;
    font-size: 65px;
    font-family:merienda;
}
.banner-area h3{
    margin-bottom: 40px;
    font-size: 25px;
}

@keyframes slide {
    0%{
        background-image: url(../img/Main1.jpg);
    }
    25%{
        background-image: url(../img/Main2.jpg);
    }
    50%{
        background-image: url(../img/Main3.jpg);
    }
    75%{
        background-image: url(../img/Main4.jpg);
    }
}
@media (max-width:800px){
    .banner-area{
        min-height: 600px;
    }
    .banner-area h1{
        font-size: 32px;
    }
    .banner-area h3{
        font-size: 20px;
    }
}

/* about area*/

ul.about-content{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-content li{
    padding: 20px;
    height: 290px;
    background-clip: content-box;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.about-left{
    flex-basis: 40%;
    /* background-image: url(../img/nature_480x360.jpg); */
}
.about-right{
    flex-basis: 60%;
}
.about-area p{
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
}
.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}
.about-right h2 {
    margin-bottom: 3%;
}
.about-btn{
    padding: 15px 35px;
    background: crimson;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
}
@media (max-width: 1000px){
    .about-left,
    .about-right{
        flex-basis: 100%;
    }
    .about-content li{
        padding: 8px;
    }
}

/* service area */

#services{
    background: #ddd;
}
ul.services-content{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services-content li{
    padding:0 30px;
    flex-basis: 33%;
    text-align: center;
}
.services-content li i{
    font-size: 50px;
    color: crimson;
    margin-bottom: 25px;
}
.services-content li h4{
    font-size: 20px;
    margin-bottom: 25px;
}
.services-content li p{
    margin: 0;
}

@media (max-width: 1000px){
    .services-content li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }
    .services-content li:last-child{
        margin-bottom: 0;
    }
    .services-content li p{
        padding: 0;
    }
}

/* contact area */

/* footer */

footer{
    color: #fff;
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #111;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: crimson;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: #fff;
  }
  .left .content .social a span:hover{
    background: crimson;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #f12020;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: crimson;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    color: #fff;
  }
  .right form .btn button:hover{
    background: #4b2020;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color:crimson;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }

a#topBtn { position: fixed;
            color: crimson; 
            right: 5%; 
            bottom: 30px; 
            display: none;  
            z-index: 9999;
            font-size: 30px; 
}


